*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html{
    font-family: Arial, Helvetica, sans-serif;
    background: url(images/bgrthiennhien.jpg);
    background-size: 100%;
  }
  
  
  #header {
    height: 100px;
    background-color: greenyellow;
  }
  
  .logo {
    width: 100px;
    float: left;
    height: 100px;
    margin: 0px 130px;
  }
  
  
  #nav li {
    display: inline-block;
  }
  
  #nav li a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    line-height: 100px;
    padding: 0 50px;
    display: inline-block;
    font-size: 20px;
    transition: 0.25s;
  }
  
  #nav li:hover a{
    color:black;
    background-color: yellow;
  }
  
  #nav .subnav {
    display: none;
  }
  
  #slider {
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
    background: white;
    margin-bottom: 30px;
    background-image: cover;
  }
  .bin{
    width: 1000px;
  }
  
 
  
  #content .menu {
    width: 10%;
    height: 32vh;
    margin-left: 60px;
    float: left;
    color: black;
  }
  
  #content .menu li{
    margin-top: 20px;
    font-size: 20px;
  }
  
  #content .image {
    width: 80%;
    height: 32vh;
    margin-left: 10px;
    float: left;
    padding: 100px;
  }
  
  #content .image img{
    width: 21%;
    margin: 0 20px;
    transition: 0.5s;
    border: 2px dashed rgba(0, 0, 0, 0.336);
  }
  
  #content .image img:hover{
    transform: scale(1.15);
  }
