*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    
    html{
    font-family: Arial, Helvetica, sans-serif;
    background: url(images/backroundxanhdep.jpg) ;
    
    
    }
    
    
    #header {
    height: 100px;
    background-color:yellowgreen;
    padding-bottom: 1075757
    
    
    }
    .logo {
      width: 100px;
      float: left;
      height: 100px;
      margin: 0px 130px;
    }
    #nav button{
    float: right;
    padding: 0 40px;
    color: red;
    font-size: 20px;
    line-height: 50px;
    padding-top: 20px;
    background:  yellowgreen;
    border: none;
    
    }
    #nav button:hover{
    background: yellow;
    transition: 1.4s;
    }
    
    
    #nav li {
    display: inline-block;
    }
    
    #nav li a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    line-height: 100px;
    padding: 0 50px;
    display: inline-block;
    font-size: 20px;
    transition: 0.25s;
    }
    
    #nav li:hover a{
    color:black;
    background-color: yellow;
    }
    
    .search-box {
    width: 70px;
    height: 70px;
    background-color: #242628;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
    border-radius: 15px;
    margin-left: 250px;
    margin-top: 300px;
    }
    .search-box.open{
    width: 1000px;
    }
    .search-box input{
    transition: 1.5s;
    }
    .search-box input:hover{
    transform: scale(1.05);
    }
    
    .search-input {
    width: 1000px;
    height: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    
    justify-content: center;
    color: #fff;
    padding: 20px 100px 20px 35px;
    font-size: 40px;
    transition: 1.5s;
    }
    .search-input:hover{
    transform: scale(1);
    }
    
    .search-btn {
    color: black;
    outline: none;
    border: none;
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    font-size: 30px;
    background-color: red;
    transition: 2s;
    }
    .search-btn:hover{
    
    transform: scale3d(1, 1, 2) rotate3d(1, 0, 0, 60deg);
    }
    #slider{
    text-align: center;
    padding: 0x;
    
    }
    .than{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    
    }
    .than2{
      text-indent: 350px;
      text-align: left;
      line-height: 2.1;
      list-style: none;
      cursor: pointer;
    }
    